
.experience{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;

}

.experience li .period{
    display: flex;
    flex-direction: row;
  
    
}

.experience li{
    margin-bottom: 1rem;
}

.experience li .period::before{
    content: '';
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/assets/img/icons/period.svg');
    margin-right: .5rem;
    filter: invert(1);
    
}


